---
import Title from '@components/shared/Title.astro';
import MainLayout from '@layouts/MainLayout.astro';
import { Counter } from '@components/Counter';
import { FavoritePokemons } from '@components/pokemons/FavoritePokemons';
---

<MainLayout title='Favorites'>
  <Title>Favoritos</Title>
  <FavoritePokemons client:only='solid-js' />
</MainLayout>
